{{#*inline "blocks"}}

{{!-- Form --}}
{{#> nbForm}}
{{#*inline "form"}}
<form id="nb-form-{{page.name}}" class="uk-form-stacked InputfieldForm uk-margin-top" method="post" data-uk-nb-form
    novalidate data-colspacing="1">

    <h2>Sighting Information</h2>

    {{#> ukGrid class="uk-grid-small"}}
    {{#*inline "cells"}}

    <fieldset>
        <div class='Inputfield InputfieldDate nb-form-required uk-first-column' id='wrap_nb-form-nb-sighting_date'>
            <label class='uk-form-label' for='nb-form-nb-sighting_date'>Date of Sighting</label>
            <div class='nb-form-content uk-width-1-4@l uk-width-1-2@s'>
                <div role='alert'></div>
                <span class='uk-inline'>
                    <input id='nb-form-nb-sighting_date' class='uk-input InputfieldMaxWidth' name='calendar' type='date'
                        title='Please enter date of sighting' required>
                </span>
            </div>
        </div>

        <div class='Inputfield InputfieldMap nb-form-required uk-grid-margin uk-first-column'
            id='wrap_nb-form-nb-sighting_map'>
            <label class='uk-form-label' for='nb-form-nb-sighting_map'>Place marker position on the
                map
                <a href='#' aria-label='Open to find out more'>i</a>
                <span
                    data-uk-drop='mode: click; animation: uk-animation-slide-top-small; duration: 1000; pos: top-left'>
                    <span>You can use the +/- zoom buttons and click the map to drop or move the
                        marker.</span>
                    <a href='#' data-uk-close class='uk-drop-close' aria-label='Close the info box'></a>
                </span>
            </label>
            <div class='nb-form-content'>
                <div role='alert'></div>
                <input id='nb-form-nb-sighting_map' class='uk-input InputfieldMaxWidth' name='map' type='text'
                    title='Please place pin on map' required>
            </div>
        </div>
        <div class="uk-grid-margin uk-first-column">
            {{> nbInput class="uk-width-1-2@s" label="OS Grid Reference" name="os_grid_reference" title="Please enter OS Grid Reference"}}
        </div>

        <div class='Inputfield InputfieldState nb-form-required uk-grid-margin uk-first-column'
            id='wrap_nb-form-nb-sighting_state'>
            <label class='uk-form-label'>Was the stoat alive or
                dead? <a href='#' aria-label='Open to find out more'>i</a>
                <span
                    data-uk-drop='mode: click; animation: uk-animation-slide-top-small; duration: 1000; pos: top-left'>
                    <span>Some info text.</span>
                    <a href='#' data-uk-close class='uk-drop-close' aria-label='Close the info box'></a>
                </span>
            </label>
            <div class='nb-form-content'>
                <div role='alert'></div>
                <div class='uk-margin uk-grid-small uk-child-width-auto uk-grid'>
                    <label class="radio-label"><input class='uk-radio' type='radio' name='radio2'>&nbsp; Dead</label>
                    <label class="radio-label"><input class='uk-radio' type='radio' name='radio2' checked>&nbsp;
                        Alive</label>
                </div>
            </div>
        </div>

        <div class="uk-grid-margin uk-first-column">
            {{> nbInput label="Was color was it?" name="stoat_color" additionalInfo="Include description of ermine"}}
        </div>

        <div class="uk-grid-margin uk-first-column">
            {{> nbInput label="Was it carrying food?" name="stoat_color" infoCloud="Some info text."}}
        </div>

        <div class='Inputfield InputfieldStoatNum nb-form-required uk-grid-margin uk-width-1-1 uk-first-column'
            id='wrap_nb-form-nb-sighting_stoat_number'>
            <label class='uk-form-label' for='nb-form-nb-sighting_stoat_number'>How many stoats did
                you see at the same time?</label>
            <div class='nb-form-content uk-width-1-4@s uk-width-1-1'>
                <div role='alert'></div>
                <input id='nb-form-nb-sighting_stoat_number' class='uk-input InputfieldMaxWidth' name='stoat_number'
                    type='number' min='0' max='100' title='Please enter how many stoats did you see at the same time'
                    required>
            </div>
        </div>

        <div class="uk-grid-margin uk-first-column">
            {{> nbInput label="About the location" name="location_info" additionalInfo="e.g. 100m from south edge of Rousay"}}
        </div>

        <div class="uk-grid-margin uk-first-column">
            {{> nbInput type="textarea" label="Other useful information" name="additional_info"}}
        </div>
    </fieldset>

    <fieldset>

        <h2>Contact Information</h2>

        <div class="uk-grid-margin uk-first-column">
            {{> nbInput label="Contact Name" name="name" title="Please enter your name"}}
        </div>

        <div class="uk-grid-margin uk-first-column">
            {{> nbInput label="Email" name="email" type="email" title="Please enter a valid email address"}}
        </div>

        <div class='Inputfield InputfieldText uk-width-1-1 uk-grid-margin uk-first-column'
            id='wrap_nb-form-nb-sighting_tel'>
            <label class='uk-form-label' for='nb-form-nb-sighting_tel'>Telephone</label>
            <span class='uk-text-small'>We might call you to check the sighting details</span>
            <div class='nb-form-content uk-width-1-3@s uk-width-1-1'>
                <div role='alert'></div>
                <input id='nb-form-nb-sighting_tel' class='uk-input InputfieldMaxWidth' name='tel' type='tel'
                    maxlength='2048'>
            </div>
        </div>

        <div class="uk-grid-margin uk-first-column">
            {{> nbInput label="Address 1" name="address_1"}}
        </div>

        <div class="uk-grid-margin uk-first-column">
            {{> nbInput label="Address 2" name="address_2"}}
        </div>

        {{#> ukGrid class="uk-grid-margin"}}
        {{#*inline "cells"}}
        <div class="uk-width-3-4@s uk-first-column">
            {{> nbInput label="Town" name="town"}}
        </div>
        <div class="uk-width-1-4@s uk-first-column uk-padding-small uk-padding-remove-vertical uk-padding-remove-right">
            {{> nbInput label="Postcode" name="postcode"}}
        </div>
        {{/inline}}
        {{/ukGrid}}
        <div class='Inputfield InputfieldConsent nb-form-required uk-grid-margin uk-first-column'
            id='wrap_nb-form-nb-sighting_consent'>
            <div class='nb-form-content'>
                <div role='alert'></div>
                <div class='uk-margin uk-grid-small uk-child-width-auto uk-grid'>
                    <label class='uk-flex'>
                        <input id='nb-form-nb-sighting_consent' name='consent' class='uk-checkbox InputfieldMaxWidth'
                            title='Please check if you agree...' type='checkbox' checked>
                        <span class='terms'>I consent to my data being used in accordance with the
                            Orkney Native
                            Wildlife <a class='uk-button uk-button-text' href='#'>Project Privacy
                                Policy</a> and
                            <a class='uk-button uk-button-text' href='#'>Terms of Service</a>.</span>
                    </label>
                </div>
            </div>
        </div>
        <div class='Inputfield InputfieldSubscribe nb-form-required uk-first-column'
            id='wrap_nb-form-nb-sighting_subscribe'>
            <div class='nb-form-content'>
                <div role='alert'></div>
                <div class='uk-margin uk-grid-small uk-child-width-auto uk-grid'>
                    <label class='uk-flex'>
                        <input id='nb-form-nb-sighting_subscribe' name='subscribe'
                            class='uk-checkbox InputfieldMaxWidth' title='Would you like to register for email updates?'
                            type='checkbox' checked>
                        <span class='terms'>Would you like to register for email updates?</span>
                    </label>
                </div>
            </div>
        </div>
        <p>Please provide as much information as possible. Although some information is optional, it
            would help us if you can provide contact details so we can contact you to verify
            sighting information if needed.</p>
    </fieldset>
    {{> nbInput name="submit" type="submit" value="Send Report" style="primary" icon="arrow-right"}}

    {{/inline}}
    {{/ukGrid}}
</form>

{{/inline}}
{{/nbForm}}

{{/inline}}

{{> templatePage}}