.link-box,
.link-box-alt {
    clip-path: url('#svgPathNewsAndEvents');
    overflow: hidden;
    box-shadow: none;
}

.link-box {
    min-height: 320px;
    background-color: rgba($green-alt, .8);
    transition: $speed $timing;

    h3 {
        margin-bottom: 0;
        font-size: 26px;
    }

    .uk-card-body {
        padding: 35px 25px;

        >svg {
            width: 130px;
            height: 130px;
            color: $white;
            fill: $white;
            margin: 25px auto 0;
        }
    }

    @include hover {
        background-color: $primary;
    }
}

.link-box-alt {
    min-height: 365px;
    z-index: 0;

    &::after {
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 0;
        box-shadow: 0 0 90px 150px rgba($green-alt, .7);
        content: '';
        z-index: 10;
        pointer-events: none;
    }

    &.link-box-blue {
        &::after {
            box-shadow: none;
        }

        .link-box-text,
        .link-box-title {
            padding: 25px 40px;
        }

        .link-box-text {
            background-color: $blue-light;

            p {
                color: $secondary;
            }
        }
    }

    .uk-position-cover {
        z-index: 11;
    }

    >span {
        &.uk-text-bold {
            position: absolute;
            font-size: 13px;
            left: 40px;
            top: 30px;
            background-color: $secondary;
            display: block;
            border-radius: 3px;
            z-index: 11;
            padding: 2px 11px 3px 13px;
        }
    }

    h3,
    p,
    span {
        color: $white;
    }

    h3 {
        font-weight: $bold;
        position: relative;
        padding-bottom: 15px;
        backface-visibility: hidden;
        margin-bottom: 0;
    }

    .uk-card-media-top {
        backface-visibility: hidden;
        transition: .35s ease;
        position: absolute;
        height: auto;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 10;
        bottom: 0;

        &::before {
            content: '';
            position: absolute;
            left: 0%;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            backface-visibility: hidden;
        }
    }

    .uk-card-body {
        z-index: 11;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        backface-visibility: hidden;
        padding: 0;
        transition: .35s ease;

        span {
            font-family: $font-roboto;
            font-size: 14px;
        }

        p {
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 25px;
        }
    }

    .link-box-title {
        padding: 25px 40px;
        transition: .35s ease;
    }

    .uk-card-title {
        font-size: 26px;
        line-height: 1.2;
        margin: 5px 0;
    }

    .link-box-text {
        background-color: $green-alt;
        padding-right: 65px;
        padding: 25px 105px 25px 40px;
    }

    @include hover {
        .uk-card-media-top {
            transform: translateY(-40%);
        }

        .link-box-title {
            padding-bottom: 0;
        }

        .uk-card-body {
            bottom: 0 !important;
        }
    }

    @media (max-width: $breakpoint-large) {

        .link-box-title,
        .link-box-text {
            padding: 20px 20px 30px 30px;
        }

        .link-box-text {
            min-height: 130px;
        }

        @include hover {
            .uk-card-body {
                min-height: 68% !important; // sass-lint:disable-line no-important
            }
        }
    }

    @media (max-width: $breakpoint-small) {
        min-height: 390px;

        .link-box-title,
        .link-box-text {
            padding: 20px 15px 30px;
        }

        .uk-card-title {
            font-size: 22px;
        }
    }
}