.orkney-map {
    background-repeat: no-repeat;
    background-size: 69%;
    background-position: 54% 29%;
}

.stoat-pin {
    background-color: $primary;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    left: 36%;
    top: 44%;

    svg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 30px;
        height: 30px;
        color: $secondary;
        fill: $secondary;
        z-index: 1;
    }
}

.pulse {
    background-color: transparent;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &::before,
    &::after {
        position: absolute;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        content: '';
    }

    &::after {
        border: 2px solid $primary;
    }
}


$pulses: 4;

@for $i from 1 through $pulses {
    $num: 75 + (25 * $i);
    $delay: $i * .8;

    .pulse:nth-of-type(#{$i}) {
        background-color: $primary;
        width: 100%;
        height: 100%;

        &::after {
            animation-name: border-pulse-#{$i};

            @if ($i == 0) {
                animation-delay: 0;
            }@else if ($i % 4 == 1) {
                animation-delay: #{$delay}s;
            }@else {
                animation-delay: #{$delay}s;
            }

            animation-duration: 4.5s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
        }
    }

    @keyframes border-pulse-#{$i} {
        0% {
            background-color: rgba($primary, .8);
            transform: scale(1);
            border-width: 2px;
        }

        25% {
            background-color: rgba($primary, .6);
            transform: scale(1.5);
            border-width: 1.5px;
        }

        50% {
            background-color: rgba($primary, .4);
            transform: scale(2);
            border-width: 1px;
        }

        75% {
            background-color: rgba($primary, .2);
            transform: scale(2.5);
            border-width: .5px;
        }

        100% {
            background-color: rgba($primary, 0);
            transform: scale(3);
            border-color: transparent;
        }
    }
}