//----------  typography
//------------------------------------------------------------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-default;
    font-weight: normal;
}

h1 {
    font-size: 67px;
    font-weight: $light;
    line-height: 1.3;
    color: $white;
    margin-bottom: 5px;

    @media (max-width: $breakpoint-large) {
        font-size: 54px;
    }

    @media (max-width: $breakpoint-small) {
        font-size: 34px;
    }
}

h2,
h3,
h4,
h5,
h6,
.uk-text-lead,
p {
    color: $secondary;
}

h2 {
    font-size: 34px;
    font-weight: $light;

    @media (max-width: $breakpoint-small) {
        font-size: 26px;
    }
}

h3 {
    font-size: 26px;
    font-weight: $light;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
    font-weight: $bold;
}

h6 {
    font-size: 14px;
    font-weight: $bold;
}

.uk-text-lead {
    font-size: 26px;
    font-family: $font-roboto;
}

p {
    font-size: 18px;
    font-family: $font-roboto;
    font-weight: $light;
    margin-bottom: 15px;
}

a {
    font-size: 18px;
}

strong,
em,
sup {
    color: inherit;
}

strong {
    font-weight: $bold;
}

em {
    font-weight: 400;
    color: inherit !important; // sass-lint:disable-line no-important
}

sup {
    font-size: 58%;
    color: inherit !important; // sass-lint:disable-line no-important
}

ul {
    padding-left: 20px;
}

ul li {
    list-style-type: none;
}

abbr[title] {
    border-bottom: 0;
    cursor: inherit;
    text-decoration: none;
    font-weight: inherit;
    font-size: inherit;
}

img {
    max-width: 100%;
}