a,
button {
	cursor: pointer;
}

a {
	@include hover {
		text-decoration: none;
	}
}

// .uk-button
@mixin hook-button {
	background-color: transparent;
	text-transform: none;
	font-weight: $bold;
	color: $white;
	font-size: 16px;
	line-height: 1.4;
	position: relative;
	transition: $speed $timing;
	border: 0;
	border-radius: 5px;
	padding: 15px 55px 16px 23px;
	display: inline-block;

	svg {
		font-weight: inherit;
		color: inherit;
		display: inline-block;
		position: absolute;
		right: 30px;
		top: 50%;
		width: 15px;
		height: 15px;
		transform: translateY(-50%);
	}
}

// .uk-button-primary
@mixin hook-button-primary {
	background-color: $primary;
}

// .uk-button-primary-hover
@mixin hook-button-primary-hover {
	background-color: $brick;
	color: $secondary;
}

// .uk-button-primary-active
@mixin hook-button-primary-active {
	background-color: $brick;
	color: $secondary;
}

// .uk-button-default
@mixin hook-button-default {
	background-color: $secondary;
	color: $white;
}

// .uk-button-default-hover
@mixin hook-button-default-hover {
	background-color: $brown-dark;
	color: $white;
}

// .uk-button-default-active
@mixin hook-button-default-active {
	background-color: $brown-dark;
	color: $white;
}

// .uk-button-secondary
@mixin hook-button-secondary {
	background-color: $green-alt;
}

// .uk-button-secondary-hover
@mixin hook-button-secondary-hover {
	background-color: $green-alt-light;
}

// .uk-button-secondary-active
@mixin hook-button-secondary-active {
	background-color: $green-alt-light;
}

// .uk-button-small
@mixin hook-button-small {
	font-size: 13px;
	padding: 5px 40px 5px 20px;

	svg {
		width: 11px;
		height: 11px;
		right: 20px;
	}
}

// .uk-button-large
@mixin hook-button-large {
	padding: 2px 55px 1px 23px;
	font-size: 18px;

	svg {
		width: 16px;
		height: 16px;
	}
}

// .uk-button-text
@mixin hook-button-text {
	text-align: left;
	padding: 0;
	line-height: 2.3;
	color: $secondary;

	&::before {
		background-color: $secondary;
		height: 3px;
		bottom: 0;
		border-bottom: 0;
		width: 0%;
		transition: .4s ease;
		position: absolute;
		content: '';
	}
}

@mixin hook-button-text-hover {
	&::before {
		width: 100%;
	}
}

// .uk-text-large
@mixin hook-text-large {
	font-size: 18px;
}

.sighting-button {
	position: fixed;
	left: 0;
	width: 100%;
	bottom: 0;
	z-index: 5;
	box-shadow: 5px 15px 30px 0 rgba($black, .6);

	.uk-button {
		text-align: left;
		border-radius: 0;
		width: 100%;

		&::before {
			right: 20px;
		}
	}
}