{{> shareWidget items=items.shareWidget title="Share widget"}}

{{#*inline "blocks"}}

{{#> content}}
	{{#*inline "body"}}

	<p>Lorem ipsum dolor sit amet, <strong>here's some bold text</strong>. Aliquam at ligula <em>here's some italic
			text</em>. Nulla facilisi. In in turpis non eros vehicula adipiscing in <em><strong>feugiat
				ligula</strong></em>. Vivamus et nulla<sub>2</sub> ultricies<sup>2</sup>, auctor tellus ac, fringilla quam.
		Pellentesque ut sollicitudin ante. Donec vel adipiscing sapien, at euismod dui. Duis at eros magna <a
			href="#">example link</a>. Pellentesque nec porttitor dui. Etiam sit amet venenatis enim. Praesent rutrum arcu
		eget tortor cursus rutrum.</p>

	<figure class="align_center hidpi">
		<a href="./img/owl-image.jpg">
			<img alt="This is a centre aligned image" src="./img/owl-image.jpg" width="960" />
		</a>
		<figcaption>This is a centred image</figcaption>
	</figure>

	<h2>Heading h2</h2>

	<figure class="align_right hidpi">
		<a href="./img/internal-right.jpg">
			<img alt="This is a right aligned image" src="./img/internal-right.jpg" width="300" />
		</a>
		<figcaption>This is a right-aligned image</figcaption>
	</figure>

	<p>Vestibulum ut elit ornare massa tincidunt malesuada eu feugiat diam. Nunc erat nisl, rutrum eget rhoncus nec,
		fringilla in est. Integer bibendum vel massa consequat sagittis. Duis at consectetur velit. Duis egestas
		sollicitudin mi at dictum. Aliquam imperdiet, dolor et gravida vestibulum, nulla diam malesuada enim, at pharetra
		tellus ligula at felis. Nam in massa magna. Ut rhoncus eu justo nec gravida.</p>

	<p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed vestibulum sodales
		porttitor. Donec a luctus nisi. Donec facilisis, elit vitae blandit accumsan, orci odio ornare libero, sed mollis
		urna magna nec mi.</p>

	<figure class="align_left hidpi">
		<a href="./img/internal-left.jpg">
			<img alt="This is a left aligned image" src="./img/internal-left.jpg" width="300" />
		</a>
		<figcaption>This is a left-aligned image</figcaption>
	</figure>

	<p>Integer at elementum mi, vitae facilisis purus 4th. Duis quis tellus quis lacus sagittis pharetra a at lorem.
		Praesent ornare ligula id arcu consequat egestas.</p>

	<p>Aliquam at ligula elit gravida placerat. Nulla facilisi. In in turpis non eros vehicula adipiscing in feugiat ligula.
		Vivamus et nulla ultricies, auctor tellus ac, fringilla quam.</p>

	<p>Pellentesque ut sollicitudin ante. This is an <a href="https://www.google.com/" target="_blank"
			rel="noreferrer noopener">external link</a>. Donec vel adipiscing sapien, at euismod dui. Duis at eros magna
		example link. Pellentesque nec porttitor dui. Etiam sit amet venenatis enim. Praesent rutrum arcu eget tortor cursus
		rutrum.</p>

	<div class="uk-margin-medium-top uk-margin-medium-bottom">
		{{> ukButton label=cta style="primary" size="large" icon="arrow-right"}}
	</div>

	{{/inline}}
{{/content}}

{{> gallery items=items.gallery title="Gallery" caption="A Gallery Caption"}}

{{#> content}}
	{{#*inline "body"}}

		<h3>Buttons</h3>

		{{#> ukGrid class="uk-grid-medium uk-child-width-1-3@s"}}
			{{#*inline "cells"}}

				<div>
					<div class="uk-text-meta uk-form-label">Primary</div>
					{{> ukButton label=cta style="primary" icon="arrow-right"}}
					<div class="uk-text-meta uk-form-label uk-margin-top">Primary Small</div>
					{{> ukButton label=cta style="primary" size="small" icon="arrow-right"}}
					<div class="uk-text-meta uk-form-label uk-margin-top">Primary Large</div>
					{{> ukButton label=cta style="primary" size="large" icon="arrow-right"}}
				</div>

				<div>
					<div class="uk-text-meta uk-form-label">Secondary</div>
					{{> ukButton label=cta style="secondary" icon="arrow-right"}}
					<div class="uk-text-meta uk-form-label uk-margin-top">Secondary Small</div>
					{{> ukButton label=cta style="secondary" size="small" icon="arrow-right"}}
					<div class="uk-text-meta uk-form-label uk-margin-top">Secondary Large</div>
					{{> ukButton label=cta style="secondary" size="large" icon="arrow-right"}}
				</div>

				<div>
					<div class="uk-text-meta uk-form-label">Default</div>
					{{> ukButton label=cta icon="arrow-right"}}
					<div class="uk-text-meta uk-form-label uk-margin-top">Default Small</div>
					{{> ukButton label=cta size="small" icon="arrow-right"}}
					<div class="uk-text-meta uk-form-label uk-margin-top">Default Large</div>
					{{> ukButton label=cta size="large" icon="arrow-right"}}
				</div>

			{{/inline}}
		{{/ukGrid}}

		<h3>Other Button Styles</h3>

		{{#> ukGrid class="uk-grid-medium uk-child-width-1-3@s"}}
			{{#*inline "cells"}}

				<div>
					<div class="uk-text-meta uk-form-label">Text Normal</div>
					{{> ukButton label="Continue reading" style="text"}}
				</div>

				<div>
					<div class="uk-text-meta uk-form-label">Text Large</div>
					{{> ukButton label="Continue reading" style="text" class="uk-text-large"}}
				</div>

			{{/inline}}
		{{/ukGrid}}

	{{/inline}}
{{/content}}

{{!-- {{#> nbForm}}
{{#*inline "form"}}

<form id="nb-form-{{page.name}}" class="uk-form-stacked uk-width-2-3@s uk-width-3-5@m InputfieldForm" method="post"
	data-uk-nb-form novalidate data-colspacing="1">

	<h3>Form Styles</h3>

	{{#> ukGrid class="uk-grid-small"}}
	{{#*inline "cells"}}

	{{> nbInput label="Your Name" name="name" title="Please enter your name"}}

	{{> nbInput label="Email Address" name="email" type="email" title="Please enter a valid email address"}}

	{{> nbInput label="Telephone" name="tel" type="tel"}}

	{{> nbInput label="Your Enquiry" name="enquiry" type="textarea" title="Please enter your enquiry"}}

	{{> nbInput name="submit" type="submit" value="Send"}}

	{{/inline}}
	{{/ukGrid}}

</form>

{{/inline}}
{{/nbForm}} --}}

{{/inline}}

{{> templatePage}}